*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




nav{
    height: 70px;
    width: 100%;
    background-color: purple;
    position: fixed;
    top: 0px;
}

p{
    height: 250vh;
    width: 300px;
    position: relative;
    top: 70px;
    left: 500px;
    border: 1px solid black;
    
}